<p>Sign up now to get an exclusive discount when we launch.</p>
<form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Email<span style="color:red;font-size:smaller;"> *</span></label><br />
	<input type="email" placeholder="Enter email to signup (required)" value="" name="EMAIL" class="required email" id="mce-EMAIL" /><br />
	<label for="mce-MMERGE4">Types of paintings that interest you</label><br />
	<input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4" placeholder="flowers, parks, animals, abstract, etc. (optional)" />
	<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
